@model IEnumerable<ControleRNC_WEB.Models.TipoAcao>

@{
    ViewBag.Title = "Tipos de ação";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Ações</h2>


<p>
    <a href="#" data-toggle="modal" data-target="#modalNewAcao">Criar uma nova ação</a>
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Descricao)
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Descricao)
            </td>
            <td>
                <a href="#" onclick="getDataToEdit(@item.Id)" data-toggle="modal" data-target="#modalEditAcao">editar</a>
            </td>
            <td>
                @Html.ActionLink("excluir", "Delete", new { id = item.Id })
            </td>
        </tr>
    }

</table>

<!-- Modal nova acao -->
<div class="modal fade" id="modalNewAcao" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">Nova ação</h4>
            </div>
            <div class="modal-body">

                <form method="post" action="../TipoAcaos/Create/">
                    <div class="form-horizontal">
                        <div class="form-group">
                            @Html.Label("Descrição", htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                <input type="text" class="form-control" name="Descricao" required />
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <input type="submit" value="Criar" class="btn btn-info" />
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">cancelar</button>
            </div>
        </div>
    </div>
</div>

<script>
    function getDataToEdit(id){
        $.ajax({
            url: "/TipoAcaos/GetById?id=" + id,
            success: function (result) {
                document.getElementById('descricaoEdit').value = result.Descricao;
                document.getElementById('idEdit').value = result.Id;
            }
        })
    }
</script>

<!-- Modal editar tipo de acao -->
<div class="modal fade" id="modalEditAcao" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">Editar tipo de ação</h4>
            </div>
            <div class="modal-body">

                <form method="post" action="../TipoAcaos/Edit/">
                    <div class="form-horizontal">
                        <div class="form-group">
                            @Html.Label("Id", htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                <input type="text" class="form-control" name="Id" id="idEdit" readonly />
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.Label("Descricao", htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                <input type="text" class="form-control" name="Descricao" id="descricaoEdit" required />
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <input type="submit" value="Salvar" class="btn btn-info" />
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">cancelar</button>
            </div>
        </div>
    </div>
</div>